@import "global";

.navbar-nav-separator {
  > .nav-item {
    position: relative;

    &:not(:last-child):after {
      content: '/';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(1rem, -50%);
    }
  }
}

.app-header {
  .dropdown {
    display: inline-block;

    .dropdown-toggle {
      padding: 0.25rem 0.5rem;
      font-size: $h1-font-size;
      line-height: $headings-line-height;

      &:after {
        font-size: 1.5rem;
        vertical-align: 0.265em;
        margin-left: 0.075em;
      }
    }

    .dropdown-menu {
      border: none;

      .dropdown-item {
        background-color: transparent;
        font-size: $h3-font-size;
        color: $text-muted;
        text-transform: uppercase;
      }

      .dropdown-item.active {
        color: $primary;
      }
    }
  }

  .app-name {
    vertical-align: middle;
  }
}
