$custom-file-text: (
        en: "Browse",
        es: "Elegir"
);

@import "global";
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/lux/bootswatch";

.app-header {
  .dropdown {
    display: inline-block;

    .dropdown-toggle {
      padding: 0.25rem 0.5rem;
      font-size: $h1-font-size;
      line-height: $headings-line-height;

      &:after {
        font-size: 1.5rem;
        vertical-align: 0.265em;
        margin-left: 0.075em;
      }
    }

    .dropdown-menu {
      border: none;

      .dropdown-item {
        background-color: transparent;
        font-size: $h4-font-size;
        color: $text-muted;
        text-transform: uppercase;
        transition: $transition-base;

        &.active, &:hover, &:focus {
          color: $primary;
        }
      }
    }
  }

  .app-name {
    vertical-align: middle;
  }
}

.alerts-container {
  position: fixed;
  right: 1rem;
  bottom: 0;
}
