{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">{% block auth_title %}{% endblock %}</h1>

        {% block auth_form %}{% endblock %}

        <div class="mt-3 text-center">
            {% block auth_switch %}{% endblock %}
        </div>
    </div>
{% endblock %}
