{% extends 'auth/auth.html.twig' %}

{% block title %}Recuperar mi contraseña / Mess{% endblock %}
{% block auth_title %}Recuperar mi contraseña / Mess{% endblock %}

{% block auth_form %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <form name="reset_password_form" method="post">
        <div class="form-group">
            <label for="reset_password_form_email" class="required">Correo electrónico</label>
            <input type="email" id="reset_password_form_email" name="reset_password_form[email]" class="form-control" required autofocus>
        </div>

        <input type="hidden" name="reset_password_form[_token]" value="{{ csrf_token('reset-password') }}">

        <button class="btn btn-block btn-primary" type="submit">Recuperar mi contraseña</button>
    </form>
{% endblock %}

{% block auth_switch %}
    <p>
        <a href="{{ path('auth_login') }}">Volver al inicio de sesión</a>
    </p>
{% endblock %}
